
<div class="page-guest-document container-fluid">
    <div class="guest-content-left ui-layout-west">
        {{$documents := .documents}}
        {{$spaceDocument := .space_document}}{{$defaultDocumentId := .default_document_id}}{{$space := .space}}
        <div class="page-search">
            <form onsubmit="return false">
                <div class="form-group has-feedback">
                    <i class="glyphicon glyphicon-search form-control-feedback" style="line-height: 32px;"></i>
                    <input class="form-control input-sm" id="document_search" type="text" value=""
                           placeholder="搜索空间文档..." style="padding-right: 28px;">
                </div>
            </form>
        </div>
        <div class="page-tree">
            <h4 class="text-center">
                <a href="/guest/document?document_id={{$spaceDocument.document_id}}">{{$spaceDocument.name}}</a>
            </h4>
            <hr>
            <ul id="dir_tree" class="ztree"></ul>
        </div>
    </div>
    <div class="guest-content-right  ui-layout-center">
        <div class="row">{{$pageContent := .page_content}}{{$document := .document}}
            <div class="col-md-12">{{$createUser := .create_user}}{{$editUser := .edit_user}}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="view-page-title">{{$document.name}}</h3>
                            <p class="view-page-time">
                                <i class="fa fa-calendar fa-fw"></i>
                                被
                                <a class="text text-info" href="#"> {{$createUser.username}}（{{$createUser.given_name}}
                                    ） </a>
                                创建于 {{dateFormat $document.create_time "Y/m/d H:i:s"}} ， 被
                                <a class="text text-info" href="#">{{$editUser.username}}（{{$editUser.given_name}}）<span
                                            class="text text-primary"></span> </a>
                                最后更新于 {{dateFormat $document.update_time "Y/m/d H:i:s"}}
                            </p>
                        </div>
                    </div>
                    <hr style="margin: 0">
                </div>
                <div class="panel-body md-view-box">
                    <div class="dir-preview-box">
                        <div class="dir-preview-btn">
                            展开目录
                        </div>
                        <div class="page-view-dir-toc" id="page-view-dir-toc">

                        </div>
                    </div>
                    <div id="document_page_view" style="padding: 0 10px 10px 10px;">
                        <textarea style="display:none;">{{$pageContent}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/plugins/md-toc/md-toc.js"></script>
<script type="text/javascript" src="/static/js/modules/document.js"></script>
<script type="text/javascript">
    Layers.bindIframe('[name=\'history\']', '文档修改历史', '508px', '1000px');
    $('[data-toggle=\'web-popover\']').webuiPopover({ animation: 'pop', autoHide: 3000 });
    if (parent.layoutOpen) {
        parent.layoutOpen();
    }
    $(function () {
        editormd.katexURL = {
            js: '/static/plugins/editor.md/lib/katex/katex.min',
            css: '/static/plugins/editor.md/lib/katex/katex.min'
        };
        editormd.markdownToHTML('document_page_view', {
            path: '/static/plugins/editor.md/lib/',
            //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            htmlDecode: 'style,script,iframe',  // you can filter tags decode
            //toc             : false,
            tocm: true,    // Using [TOCM]
            //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //gfm             : false,
            //tocDropdown     : true,
            //markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            emoji: false,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true  // 默认不解析
        });

        // 将所有的 a 标签 target="_parent"
        $('#document_page_view').find('a').each(function () {
            var target = $(this).attr('target') || '_parent';
            $(this).attr('target', target);
        });

        // 生成目录树
        new Toc('document_page_view', {
            clazz: 'page-view-dir-toc',
            level: 7,
            top: -2,
            targetId: 'page-view-dir-toc'
        });

        // 按钮目录按钮永久显示, 滑动页面时, 固定显示
        window.onscroll = function () {
            var scrollHeight = document.documentElement.scrollTop || document.body.scrollTop;
            var dirPreviewBox = $('.dir-preview-box');
            if (scrollHeight > 120) {
                dirPreviewBox.css({
                    position: 'fixed',
                    top: '20px'
                });
            } else {
                dirPreviewBox.css({
                    position: 'absolute',
                    top: '0'
                });
            }
        };

        // 目录显示与隐藏
        $('.dir-preview-btn').click(function () {
            var pageViewDirToc = $('.page-view-dir-toc');
            if (this.innerText === '展开目录') {
                this.innerText = '隐藏目录';
                pageViewDirToc.show();
                pageViewDirToc.css({
                    position: 'absolute',
                    top: '25px',
                    right: 0
                });
            } else {
                this.innerText = '展开目录';
                pageViewDirToc.hide();
            }
        });
    });
</script>
<script type="text/javascript">
    var documentsData = [];
    {{range $document := $documents}}
    documentsData.push({
        'spaceId': parseInt({{$document.space_id}}),
        'id': parseInt({{$document.document_id}}),
        'pId': parseInt({{$document.parent_id}}),
        'name': {{$document.name}},
        'open': false,
        'isParent': {{if eq $document.type "2"}} true {{else}} false {{end}}
    });
    {{end}}
    Document.ListTree('#dir_tree', documentsData, {{$defaultDocumentId}}, false, false, true);
</script>

<script>
    $(function () {
        $(document).ready(function () {
            var sliderLayout = $('.page-guest-document').layout({
                west__size: 230,
                west__spacing_open: 4,
                west__spacing_closed: 4,
                west__togglerTip_closed: '打开侧栏',
                west__togglerTip_open: '关闭侧栏',
                west__resizerTip: '重置大小',
                west__resizerCursor: 'col-resize',
                west__sliderTip: '打开侧栏',
                west__slideTrigger_open: 'click',
                west__slideTrigger_close: 'click',
                center__maskContents: true
            });
        });
    });
</script>
