<div class="page-guest-content">
    <div class="guest-content-left ui-layout-west"></div>
    <div class="guest-content-right ui-layout-center">
        <h3 class="guest-content-title">
            文章列表
        </h3>
        <ul class="guest-content-articles">
            {{range $doc := .documents}}
                <li class="article-item">
                    <a href="/guest/document?document_id={{$doc.document_id}}" target="_blank">
                        <h3 class="article-title">{{$doc.name}}</h3>
                        <div class="article-desc">
                            <span>{{$doc.username}}</span>
                            <span>·</span>
                            <span>{{dateFormat $doc.update_time "Y-m-d H:i"}}</span>
                        </div>
                    </a>
                </li>
            {{else}}
                暂无可公开的文章
            {{end}}
        </ul>
        <div class="guest-content-footer">
            {{template "paginator/default.html" .}}
        </div>
    </div>
</div>

<script>
    $(function () {
        $(document).ready(function () {
            var sliderLayout = $('.page-guest-content').layout({
                west__size: 230,
                west__spacing_open: 4,
                west__spacing_closed: 4,
                west__togglerTip_closed: '打开侧栏',
                west__togglerTip_open: '关闭侧栏',
                west__resizerTip: '重置大小',
                west__resizerCursor: 'col-resize',
                west__sliderTip: '打开侧栏',
                west__slideTrigger_open: 'click',
                west__slideTrigger_close: 'click',
                center__maskContents: true
            });
        });
    });
</script>
