<div id="main-left" class="ui-layout-west">
    <div class="left-collection">{{$documents := .documents}}{{$count := .count}}
        <div class="left-collection-content">
            <div class="collection-search">
                <form action="#" onsubmit="return false">
                    <div class="form-group has-feedback">
                        <i class="glyphicon glyphicon-search form-control-feedback" style="line-height: 32px;"></i>
                        <input class="form-control input-sm" id="collect_doc_search" type="text" value=""
                               placeholder="搜索收藏文档..." style="padding-right: 28px;">
                    </div>
                </form>
            </div>
            <div class="collection-doc">
                <h3 class="text-left"> 收藏文档 <span class="badge">{{$count}}</span></h3>
                <hr>
                <ul id="collection_documents">
                    {{range $document := $documents}}
                        {{if eq $document.type "1"}}
                            <li><a href="/document/index?document_id={{$document.document_id}}"><i
                                            class="fa fa-file-word-o"></i> <span>{{$document.name}}</span></a></li>
                        {{else}}
                            <li><a href="/document/index?document_id={{$document.document_id}}"><i
                                            class="fa fa-folder-o"></i> <span>{{$document.name}}</span></a></li>
                        {{end}}
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="left-space-content">
            <h3 class="text-left"> 空间目录</h3>
            <hr/>
            <ul id="dir_tree" class="ztree"></ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/modules/document.js"></script>
<script type="text/javascript">
    $(function () {
        Main.Search('#collect_doc_search');

        var documentsData = [];
        {{range $dir := .spaceDirectories}}
        documentsData.push({
            'spaceId': parseInt({{$dir.space_id}}),
            'id': parseInt({{$dir.document_id}}),
            'pId': parseInt({{$dir.parent_id}}),
            'name': {{$dir.name}},
            'open': false,
            'isParent': true
        });
        {{end}}
        Document.ListTree('#dir_tree', documentsData, 0, false, false);
    });

</script>
<iframe class="ui-layout-center" id="mainFrame" name="mainFrame" width="100%" frameborder="0" scrolling="yes"
        style="overflow-y: auto" src="/main/default"></iframe>
